.synthese {
    max-width: 1000px;
    min-width: 700px;
    margin: auto;
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: white;
}

.synthese .entete-fiche {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.synthese .entete-fiche .info-stylux {
    text-align: center;
}

.synthese .entete-fiche .info-stylux img {
    width: 200px;
    height: auto;
}

.synthese .entete-fiche .info-stylux div {
    font-size: 10px;
}

.synthese .entete-fiche .info-jour {
    max-width: 50%;
    align-items: flex-end;
    height: 20px;
    
}

/* -------------------------------HEAD TABS------------------ */
.synthese .nav-tabs .nav-link.active,
.synthese .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #ed1c24;
    border-bottom: 1px solid #ffffff;
}

.synthese .nav-tabs {
    border-bottom: 1px solid #000000;
}

.synthese .nav-tabs .nav-link {
    margin-bottom: -1px;
    /* border: 1px solid transparent; */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #000000;
    border-bottom: none;
    position: relative;
}

.synthese .nav-tabs a {
    color: #000000;
    text-decoration: none;
    background-color: #ff9c27;
    transition: all 300ms, margin-top 0ms ease-in-out;
}

.synthese .nav-tabs a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #ed1c23c4;
    padding: 8px 25px;
    height: 49px;
    margin-top: -5px;
}
/* -------------------------------END HEAD TABS------------------ */
