/*.ficheGestStocCarb {
    position: relative;
}*/
.tableGestStocCarb .dbl-border {
    border-top: 3px double rgba(0, 0, 0, .5);
}

.center{
    text-align: center;
}
.tableGestStocCarb{
    margin: 0px ;   
   /* border: 3px double #000000;  */
}
.tableGestStocCarb  .bord{ 
    border: 3px double #000000;
}

.tableGestStocCarb .gestStock input
{
    border: none;
    margin: 0px;
    height: 31px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
 
}
.tableGestStocCarb .bordColor{
    border: 1px double #30BE96;
}
.tableGestStocCarb .bord1{
    border-top: 2px double #30BE96;
}

.tableGestStocCarb .gestStock th {
 /*   border: 1px solid black; */
    height: 5px;
    font-size: 13px;
}

.tableGestStocCarb input:active
{
    outline: none;
}

.tableGestStocCarb .color{
   /* background-image: linear-gradient(
            60deg
    rgb(171, 71, 188), rgb(142, 36, 170)); */
    background-image: linear-gradient(
        60deg
       , #402565 ,#30BE96 );
    }

.tableGestStocCarb .color2{
    background: linear-gradient(
        60deg
   ,#3f012b , #e01dc0);
}
.tableGestStocCarb .color3{
    background: linear-gradient(
        60deg
   ,#093001 , #dbfc4b);
}
.tableGestStocCarb .souligne
{
    text-decoration: underline;
    
}

.tableGestStocCarb .titre{
    color : #ffffff;
  
}